body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('railway.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 300px;
}

.input-group {
    margin: 10px 0;
    text-align: left;
    margin-left: 50px;
    padding: 5px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 70%;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: black;
    color: white;
    outline: none;
    transition: border 0.3s ease-in-out;
    
}

/* Orange border effect when clicking */
input:focus {
    border: 2px solid orange;
}

button {
    width: 40%;
    padding: 10px;
    background: orange;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background: darkorange;
}

a {
    color: orange;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
    color: orange;
}